.main {
  max-width: 1440px;
  margin: 0 auto;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}

footer {
  scroll-snap-align: start;
}
